<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  
  <div id="root">
    <ul>
      <li v-for="(name, index) in names"><b>Name {{index + 1}}:</b> {{name}}</li>
    </ul>
    <input id="input" type="text" v-model="newName"></input>
    <button @click="addName">Add Name</button>
  </div>
  <script>
    

    var app = new Vue({
      el: '#root',
      
      data: {
        newName: '',
        message: 'Hello World',
        names: ['Thor', 'Tony', 'Steve', 'Bruce', 'Clint', 'Natasha'],
      },
      
      methods: {
        addName() {
          this.names.push(this.newName);
          this.newName = "";
        }
      },

      mounted() {
       
      }

    })

  </script>
</body>
</html>