<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    .color-red {
      color: red;
    }
  </style>
</head>
<body>
  
  <div id="root">
    <h1 :class="className">Roster</h1>
    <input type="checkbox" v-model="readyToAdd" name="ready-to-add" value="readyToAdd"> Ready to add names<br>
    <input id="input" type="text" v-model="newName" @keyup.enter="checkReady"></input>
    <button :class="{ 'color-red': beenClicked}" :title="title" @click="addName" :disabled="!readyToAdd">Add Name</button>
    <ul>
      <li v-for="(name, index) in names"><b>Name {{index + 1}}:</b> {{name}}</li>
    </ul>
    
  </div>
  <script>
    

    var app = new Vue({
      el: '#root',
      
      data: {
        beenClicked: false,
        title: "This title is set through JavaScript",
        newName: '',
        readyToAdd: false,
        message: 'Hello World',
        names: ['Thor', 'Tony', 'Steve', 'Bruce', 'Clint', 'Natasha'],
        className: "color-red"
      },
      
      methods: {
        addName() {
          this.names.push(this.newName);
          this.newName = "";
          this.beenClicked = true;
        },
        checkReady() {
          if (this.readyToAdd) {
            this.addName();
          }
        },
      },


      mounted() {
        console.log(readyToAdd);
      }

    })

  </script>
</body>
</html>