<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
  <style>
    .color-red {
      color: red;
    }
  </style>
</head>
<body>
  
  <div id="root">
    <h1 :class="className">To Do List</h1>
    <input id="input" type="text" v-model="newTask" @keyup.enter="addTask"></input>

    <button :title="title" @click="addTask" :disabled="!readyToAdd">Add Task</button>
    
    <h3>To Do</h3>
    <ul>
      <li v-for="(task, index) in tasksToDo">{{task.description}} <input type="checkbox" v-model="task.completed"></input></li>
    </ul>

    <h3>Done</h3>
    <ul>
      <li v-for="(task, index) in tasksDone">{{task.description}} <input type="checkbox" v-model="task.completed"></input></li>
    </ul>
    <p>
      {{reverseMessage}}
    </p>
  </div>
  <script>
    

    var app = new Vue({
      el: '#root',
      
      data: {
        tasks: [
          {description: "Finish tutorials" , completed: false },
          {description: "Meditate" , completed: false },
          {description: "Read" , completed: false },
          {description: "Shower" , completed: false },
          {description: "Drink a coffee" , completed: false },
          {description: "Get things ready for work" , completed: false },
        ],
        newTask: "",
      },
      
      methods: {
        addTask() {
          this.tasks.push();
        }
      },
      
      computed: {
       tasksToDo: function() {
         return this.tasks.filter(comp => !comp.completed);
       },
       tasksDone: function() {
         return this.tasks.filter(comp => comp.completed);
       }
      },

      mounted() {
      
      },

    })

  </script>
</body>
</html>